# /etc/udev/rules.d/99-best-mint.rules
SUBSYSTEM=="mint*", \
  ACTION=="add", \
  DEV_NAME =="peppermint" \
  RUN+="/usr/bin/espeak 'The best mind - Peppermint device was added'"



